@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
/*--- Global tags ---*/
h1{
	font-size: 2.5rem;
	font-weight: 700;
	color:#404040;
	text-transform: capitalize;
}
span{
	font-size: .9rem;
	color: #757373;
}
h6{
	font-size: 1.1rem;
	color: rgb(24,24,49);
}

/*Navigation style*/
nav{
	position: fixed;
	background-color: #fff;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1vw 8vw;
	box-shadow: 2px 2px 10px rgba(0,0,0, 0.15);
	z-index: 999;
}
nav img{
	width: 150px;
	/*height: 100px;*/
	cursor: pointer;
}
nav .navigation{
	display: flex;
	align-items: center;
	justify-content: center;
}
nav .navigation .menu-btn i{
	font-size: 30px;
    display: none;
}
#menu-close{
	display: none;
}
nav .navigation ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
nav .navigation ul li{
	list-style: none;
	margin-left: 30px;
}
nav .navigation ul li a{
	text-decoration: none;
	color: rgb(21,21,100);
	font-size: 16px;
	font-weight: 600;
	transition: 0.3s;
}
nav .navigation ul li a:hover{
	color: #FDC93B;
}
/*Home style*/
.home{
	background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)), url("../images/back.jpg");
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.home h2{
	color: #fff;
	font-size: 2.2rem;
	letter-spacing: 1px;
}
.home p{
	color: #fff;
	font-size: 0.9rem;
	line-height: 25px;
	width: 50%;
}
.home .btn{
   margin-top: 30px;
}
.home a{
	text-decoration: none;
	font-size: 0.9rem;
	padding: 13px 35px;
	background-color: #fff;
	font-weight: 600;
	border-radius: 5px;
}
.home .btn .blue{
	 color: #fff;
	 background: rgb(21,21,100);
	 margin-right: 3px;
}
.home .btn .blue:hover{
	 color: #fff;
	 background: red;
}

.home .btn .yellow{
	 color: #000;
	 background: yellow;
}
.home .btn .yellow:hover{
	 color: #000;
	 background: violet;
}

/*features-section*/

#features-section{
	text-align: center;
	padding: 5vw 8vw 0 8vw;
}
#features-section h1{
	color:#404040;
	text-transform: capitalize;

}
#features-section .features{
	/*display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;*/

    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1rem;
	margin-top: 30px; 
}
#features-section .single-feature{
	background: #f9f9ff;
	text-align: start;
	/*margin-right: 15px;*/
}
#features-section .single-feature i{
	font-size: 2.5rem;
	color: rgb(44,44,80);
}
#features-section .single-feature h3{
	font-size: 1.2rem;
	font-weight: 600;
	color: rgb(46,46,59);
	padding: 13px 0 7px 0;
}
#features-section .single-feature p{
	font-size: 1rem;
	font-weight: 400;
	color: rgb(70,70,87);
	/*text-align: justify;*/
}
/*Course*/
#course-section{
	padding: 8vw 8vw 0 8vw;
	text-align: center;
}
#course-section h1{
	color: #000;
	text-transform: capitalize;
}
/*responsive course using grid*/
#course-section .course-box{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1rem;
	margin-top: 30px; 
}
#course-section .courses{
	text-align: start;
	background: #f9f9ff;
	height: 100%;
	position: relative;
}
#course-section .courses img{
	width: 100%;
	height: 60%;
	background-size: cover;
	background-position: center;
}
#course-section .courses .course-details{
	padding: 15px 15px 0 15px;
}
#course-section .courses .course-details i{
	color: #FDC93B;
	font-size: 0.9rem;
}
#course-section .courses .price{
	background-color: rgb(74,74,136);
	color: #fff;
	line-height: 70px;
	width: 70px;
	height: 70px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	right: 15px;
	top: 140px;
}

/*Registration style*/
#registration{
	padding: 6vw 8vw;
	background-image: linear-gradient(rgba(99,122,168,0.5),rgba(81,91,233,0.5)), url("../images/login2.jpg");
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#registration .reminder, h1{
	color: #ffffff;
}
#registration .reminder .time{
	display: flex;
	margin-top: 40px;
}
#registration .reminder .time .date{
	 text-align: center;
	 padding: 13px 33px;
	 background: rgba(255,255,255, 0.25);
	  
	 box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
	 border-radius: 10px;
	 margin: 0 5px 10px 5px;
	 border: 1px solid rgba(255,255,255,0.18);
	 font-size: 1.1rem;
	 font-weight: 600;
}
#registration .form{
	background: #fff;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	padding: 40px;
	 box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
}
#registration .form h3{
	font-size: 25px;
	color: #000;
	font-family: 'Times new roman';
}
#registration .form input{
	margin: 15px 0;
	padding: 15px 10px;
	border: 1px solid rgb(84, 40, 241);
	outline: none;
}
#registration .form input::placeholder{
	color: #413c3c;
	font-weight: 500;
	font-size: 0.9rem;
}
#registration .form .btn{
margin-top: 30px;
}
#registration .form .btn a{
	text-decoration: none;
	font-size: 0.9rem;
	padding: 13px 35px;
	background-color: #fff;
	font-weight: 600;
	border-radius: 5px;
}
#registration .form .btn .blue{
	 color: #fff;
	 background: rgb(21,21,100);
	 margin-right: 3px;
}
#registration .form .btn .blue:hover{
	 color: #fff;
	 background: red;
}

/*Community Expert*/
#experts{
	padding: 8vw 8vw 8vw 8vw;
	text-align: center;
	background: #e6e6e6;
}
#experts h1{
	color: #000;
	text-transform: capitalize;
}
#experts .expert-box{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
	grid-gap: 1rem;
	margin-top: 50px;
}
#experts .expert-box .profile{
	background: #fafaf1;
	padding: 30px 5px;
}
#experts .expert-box .profile img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.#experts .expert-box .social-links{
	margin-top: 15px;
}
 
#experts .expert-box .social-links i{
	 padding: 10px 13px; 
	 border: 1px solid rgb(21,21,100); 
	cursor: pointer;
	transition: 0.3s ease;
	margin-top: 15px;
}
#experts .expert-box .social-links i:hover{
	background: blue;
	color: #fff;
}

/*Footer Style*/
footer{
	padding: 8vw;
	background-color: #101c32;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
footer .footer-col{
	padding-bottom: 40px;
}
footer h3{
	color: rgb(255, 153, 0);
	font-weight: 600;
	padding-bottom: 20px;
}
footer li{
	list-style: none;
	padding: 10px 0;
	font-size: 15px;
}
footer li a{
	color: #ffffff;
	text-decoration: none;
	transition: 0.3s;
}
footer li a:hover{
	color: #b3b3b3;
	 
}
footer p{
	color: #7b838a;
}
footer .subscribe{
	margin-top: 20px;
}
footer input{
	color: #fff;
	width: 220px;
	background: #334f6c;
	border: none;
	outline: none;
	padding: 15px 12px;
}
footer .subscribe a{
	text-decoration: none;
	font-size: 0.9rem;
	padding: 12px 15px;
	background-color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}
footer .subscribe .yellow{
	 color: #ffffff;
	 background: rgb(255,156,0);
	 transition: 0.3s ease;
}
footer .subscribe .yellow:hover{
	 color: rgb(21,21,100);
	 background: #fff;
}
footer .copyright{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
}
footer .copyright p{
	font-size: 20px;
	font-family: 'Times new roman';
}
footer .copyright .social-links{
	margin-top: 0px;
}
 
footer .copyright .social-links i{
    padding: 10px 13px; 
	border: 1px solid rgb(21,21,100); 
	cursor: pointer;
	transition: 0.3s ease;
	margin-top: 15px; 
	background: #5f7185;
	color: #fff;
}
footer .copyright .social-links i:hover{
	background: #FDC93B;
	color: #2c2c2c;
}

/* Media query for tablet */
@media (max-width: 769px){
	nav {
	 padding: 15px 20px;
   }
   nav img {
	width: 130px;
  }
  nav .navigation .menu-btn i{
      display: initial;
	}
	#menu-close{
		display: initial;
		color: #fff;
		margin-right: 130px;
		font-size: 2rem;
		z-index: 11;
		cursor: pointer;
	}
	/*nav .navigation{
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
	}*/
	nav .navigation ul{
		position: absolute;
		top: 0;
		right: -220px;
		width: 220px;
		height: 100vh;
		background: #000;
		opacity: 0.9;
		border: 1px solid rgba(255,255,255, 0.18);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		transition: 0.4s ease;
    }
    nav .navigation ul.active{
    	right: 0;
    }
    nav .navigation ul li a{
    	color: #fff;
    }
     nav .navigation ul li{
  
    	margin-bottom: 10px;
    	padding: 5px 5px;
    	transition: 0.3s ease;
     
    }
      nav .navigation ul li:hover{
  		background: green;
  		width: 100%;
  		text-align: center;
     
    }
     nav .navigation ul i:nth-child(1){
     	margin-top: 30px;
     	margin-left: 5px;
     }
     nav .navigation ul li:nth-child(1){
     	margin-top: 70px;
     }
     .home {
	   padding:40px 0px;
	   margin-top:0px;
    }
    .home p {
	width: 90%;
   }
   #features-section{
 
	padding: 8vw 4vw 0 4vw;
   }
    #course-section{
	 
	padding: 8vw 4vw 0 4vw;
   }
   #registration{
	padding: 6vw 4vw; 
}
 
#registration .reminder .time{
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
}
#registration .reminder .time .date{
	 padding: 5px 17px; 
	 margin: 0 3px 5px 3px;
	 font-size: 1rem;
	 font-weight: 500;
}
#experts{
	padding: 8vw 8vw 8vw 8vw;
	text-align: center;
}
footer .copyright .social-links{
	margin-top: 10px;
}
}

/*Mobile responsive*/
 @media (max-width: 475px){
 	#registration{
	padding: 6vw 8vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
#registration .reminder .time{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
#course-section h1, #registration h1,#features-section h1, #experts h1{
	font-size: 28px;
}
#registration .form{
	margin-top: 10px;
 }
}
